<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
</head>

<body>
  <div *ngIf="number(); then submit else nosubmit"></div>
  <ng-template #nosubmit>
    <section class="section">
      <div class="container">
        <div class="column">
            <label for="nb">Entrez votre nombre : </label>
            <input name="nb" type="text" placeholder="Chiffre" [(ngModel)]="nb">
            <button (click)="submits()">Valider</button>
        </div>
      </div>
    </section>
  </ng-template>
  <ng-template #submit>
    <app-table-multiplication [chiffre]="nb"></app-table-multiplication>
  </ng-template>

</body>

</html>